:root {
  --cor-primaria: #9e5340;
  --cor-secundaria: #b4b3ae;
  --cor-destaque: #c98d57;
  --cor-texto: #606060;
  --cor-fundo: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Aileron", sans-serif;
  color: var(--cor-texto);
  line-height: 1.6;
  background-image: url("assets/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
}

header nav a {
  color: var(--cor-texto);
}

header img {
  margin-left: 20%;
  height: 60px;
}

@media (max-width: 768px) {
  header img {
    margin-left: 0;
  }
}

header nav {
  margin-right: 20%;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  header nav {
    margin-right: 0;
    display: block;
  }
}

nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--cor-texto);
  font-weight: 500;
}

section {
  padding: 3rem 2rem;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--cor-primaria);
  margin-top: 3rem;
}

footer p {
  color: #fff;
}

#projects {
  padding-top: 0;
  max-width: 100%;
}

.social a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--cor-texto);
}

.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 1.5s ease-in-out;
  height: 100%;
}

.carousel-slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

#btn-prev {
  left: 10px;
}

#btn-next {
  right: 10px;
}

.contato {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.contato .address {
  margin-left: 0;
  font-size: 1rem;
}

.contato .social {
  margin-right: 0;
}

.contato-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-contato {
  background-color: #000;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn-contato:hover {
  background-color: #444;
}

a svg,
a img {
  transition: transform 0.3s ease;
}

a:hover svg,
a:hover img {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .servicos {
    grid-template-columns: repeat(3, 1fr);
  }
}
